
<mat-toolbar color="primary">

  <span class="spacer"></span>
    <button mat-button routerLink="/games" routerLinkActive="active">Game List</button>
    <br>
  <button mat-button  routerLink="modify-game" routerLinkActive="active">Modify Game</button>
    <br>
  <button mat-button  routerLink="/**" routerLinkActive="active">Game Not found</button>
    <br>
</mat-toolbar>

<div class="app-container">
  <h1>{{ title }}</h1>

  <!--router outlet to display routed components -->
  <router-outlet></router-outlet>
</div>

