

/*TODO CSS even-item and odd-item */

.even-item{
  background-image: url("game2.jpg");
  color: antiquewhite;
}

.odd-item{
  background-color: teal;
  background-image: url("game.jpg");
  color: antiquewhite;
}

